<!DOCTYPE html>
<html lang="en">
<head>
<title>Search</title>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script></head>
<body>
  <div class="container">
    <!--nav bar-->
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Picaxepedia</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Find more code">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Log out</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div> <!-- container -->

    <div class="col-xs-12">
      <h1 align="center" class="jumbotron">Search Results</h1>
  </div><!--end top section-->
<br />
  <div class="row"><!--main container-->
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <table class="table table-hover">
        <tr>
          <th>Author</th>
          <th>Project Name</th>
          <th>Lines of code</th>
          <th>License</th>
        </tr>
        <tr>
          <td>@mojombo</td>
          <td>hubbermatic</td>
          <td>~500</td>
          <td>BSD</td>
        </tr>
        <tr>
          <td>@defunkt</td>
          <td>jiiime</td>
          <td>~2,000</td>
          <td>MIT</td>
        </tr>
        <tr>
          <td>@laura</td>
          <td>chinzhillatronic</td>
          <td>~3,000</td>
          <td>GPL V2</td>
        </tr>
        <tr>
          <td>@ElDeveloper</td>
          <td>ArnoldC</td>
          <td>~500</td>
          <td>BSD</td>
        </tr>
        <tr>
          <td>@kubalaj</td>
          <td>picakehatckathon</td>
          <td>~200</td>
          <td>MIT</td>
        </tr>

      </table>
    </div>
  </div>
</body>
</html>
